.catalog {
  margin-top: calc(100vh - 80vh);
}

h2 {
  font-size: 3em;
  padding: 20px;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
  gap: 40px;
  padding: 5% 20%;
}

.product {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  padding: 20px;
  max-width: 100%;
  border-radius: 8px;
  color: white;
  box-shadow: 0 10px 10px #888;
  text-align: left;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.product img {
  max-width: 100%; /* Ensure the image takes full width */
  height: auto;
  border-radius: 4px; /* Slight rounding for images */
  margin-bottom: 10px; /* Space below the image */
}

.product-title {
  font-size: 1.2em;
  margin: 10px 0;
  color: #111;
}

.product-description {
  font-size: 0.9em;
  color: #222; /* Lighter color for description */
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: auto; /* Push the price to the bottom */
  color: var(--secondary-color); /* Bright color for the price */
}

.buy-btn {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease
}

.buy-btn:hover {
  background-color: var(--accent-color); /* Darker shade on hover */
  color: black;
}

.buy-btn:active {
  transition: none;
  outline: 2px solid black;
}
